{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "trailingComma": "es5"
}
